APScheduler==3.6.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==1.11.25
django-apscheduler==0.3.0
django-crontab==0.7.1
enum34==1.1.6
funcsigs==1.0.2
futures==3.3.0
gunicorn==19.6.0
idna==2.7
ipaddress==1.0.23
Jinja2==2.10.1
MarkupSafe==0.23
meld3==1.0.2
psutil==4.3.0
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.20.0
six==1.12.0
supervisor==3.2.0
tzlocal==2.0.0
urllib3==1.24.3