APScheduler==3.6.1
Django==1.11.25
django-apscheduler==0.3.0
django-crontab==0.7.1
funcsigs==1.0.2
futures==3.3.0
Jinja2==2.8
MarkupSafe==0.23
meld3==1.0.2
psutil==4.3.0
pytz==2019.3
requests==2.13.0
six==1.12.0
supervisor==3.2.0
tzlocal==2.0.0