APScheduler==3.6.3
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.2
Django==2.2.9
django-apscheduler==0.3.0
django-filter==2.2.0
djangorestframework==3.11.0
drf-yasg==1.17.0
idna==2.8
inflection==0.3.1
itypes==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
meld3==2.0.0
packaging==20.0
psutil==5.6.7
pycparser==2.19
pyOpenSSL==19.1.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
six==1.13.0
sqlparse==0.3.0
supervisor==4.1.0
tzlocal==2.0.0
uritemplate==3.0.1
urllib3==1.25.7