{% extends "base.html" %} {% block content %} {% load custom_filter %}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">API 配置<small> 配置 API 访问</small></h4>
            </div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">accesskey</label>
                        <div class="col-sm-4">
                            <input type="input" class="form-control" name="access_key"
                                id="input_access_key" readonly>
                            <small>文档：<a href="/api/docs/">/api/docs/</a></small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" onclick="update_access_key(1)">启用/更新</button>
                <button class="btn btn-primary" onclick="update_access_key(0)" name="disable_access_key" id="btn_disable_access_key">禁用</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">配置管理<small> 通过文件或同步的方式备份和还原负载均衡配置</small></h4>
            </div>
            <div class="box-body">
                <form class="form-horizontal" id="form_config_sync">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">同步配置</label>
                        <div class="col-sm-11">
                            <div class="radio">
                                <label class="col-sm-2">
                                    <input type="radio" name="config_sync_type" id="radio_sync_disable" value="0"
                                        onclick="display_sync_form(0)"> 禁用
                                </label>
                                <label class="col-sm-2">
                                    <input type="radio" name="config_sync_type" id="radio_sync_master" value="1"
                                        onclick="display_sync_form(1)"> 主节点
                                </label>
                                <label class="col-sm-2">
                                    <input type="radio" name="config_sync_type" id="radio_sync_slave" value="2"
                                        onclick="display_sync_form(2)"> 从节点
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="form_config_sync_slave">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">主节点URL</label>
                            <div class="col-sm-4">
                                <div>
                                    <input type="input" class="form-control" name="config_sync_master_api"
                                        id="input_config_sync_master_api" placeholder="http(s)://<host>:<port>">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Access Key</label>
                            <div class="col-sm-4">
                                <div>
                                    <input type="input" class="form-control" name="config_sync_access_key"
                                        id="input_config_sync_access_key_slave">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">同步间隔</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <div>
                                        <input type="input" class="form-control" name="config_sync_interval"
                                            id="input_config_sync_interval_slave" placeholder="默认间隔 60 秒">
                                    </div>
                                    <div class="input-group-addon">
                                            <span><b>秒</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">同步选项</label>
                            <div class="col-sm-8">
                                <div class="checkbox">
                                    <label class="col-sm-8">
                                        <input type="checkbox" name="config_sync_scope" id="check_sync_scope">
                                        仅同步负载均衡配置
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="col-sm-8">
                                        <input type="checkbox" name="config_sync_faild" id="check_sync_faild">
                                        同步失败停止服务
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="form_config_sync_status">
                    <div class="form-group">
                            <label class="col-sm-1 control-label">同步状态</label>
                            <div class="col-sm-5">
                                    <table id="tb_request_count" class="table table-bordered table-hover dataTable" role="grid">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting" rowspan="1" colspan="1">节点地址</th>
                                                    <th class="sorting" rowspan="1" colspan="1">更新时间</th>
                                                    <th class="sorting" rowspan="1" colspan="1">同步状态</th>
                                                </tr>
                                            </thead>
                                            <tbody> 
                                                {% for s in sync_status %}<tr>
                                                    <td>{{ s.address }}</td>
                                                    <td>{{ s.update_time | date:'Y-m-d H:i:s' }}</td>
                                                    {% if s.status == 1 %}
                                                    <td><button class="btn btn-warning btn-xs">正在同步</button></td>
                                                    {% elif s.status == 2 %}
                                                    <td><button class="btn btn-success btn-xs">同步完成</button></td>
                                                    {% elif s.status == 3 %}
                                                    <td><button class="btn btn-danger btn-xs">同步失败</button></td>
                                                    {% endif %}</tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-primary" onclick="save_config_sync()">保存同步配置</button>
                <button type="button" class="btn btn-primary" onclick="config_backup(1)">备份</button>
                <button type="button" class="btn btn-primary" id="btn_import_config" onclick="import_config.click()">还原</button>
                <input type="file" style="display:none" name="import_config" id="import_config"
                    onchange="config_backup(0)" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">其它配置<small></small></h4>
            </div>
            <div class="box-body">
                <form class="form-horizontal" id="form_other_settings">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">规则分页</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div>
                                    <input type="input" class="form-control" name="num_per_page"
                                        id="input_num_per_page" placeholder="请输入规则列表默认数量（10-100）">
                                </div>
                                <div class="input-group-addon">
                                    <span><b>条</b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">指标接口</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="public_metric" 
                                            id="check_public_metric">
                                        允许公开访问
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary" onclick="save_settings()">保存</button>
            </div>
        </div>
    </div>
</div>


    <script>
        //init page
        $('#menu_system_configuration').addClass('active')
        $('#menu_system_configuration').addClass('active')
        $('#page_header').text('系统配置')
        $('#page_header_descript').text('配置[ Nginx 负载均衡管理平台]')
        $('#page_nav').text('系统配置')
        $('#page_name').text('系统配置')

        function save_config_sync() {
            if (confirm("确认要保存这样的配置？")) {
                var data = $('#form_config_sync').serializeObject()
                jQuery.ajax({
                    type: 'post',
                    url: '/settings/save_sync/',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success: function(p) {
                        if (p.flag == "Success") {
                            alert("保存成功!")
                            top.location = '/settings/'
                        }
                    },
                    error: function (e) {
                        if (e.status == 403) {
                            alert('权限不足！')
                            top.location = '/settings/'
                        } else if (e.status == 400 && e.responseJSON.flag == "Error" && e.responseJSON.context == "InputFormatError") {
                            alert('保存失败！请检查输入格式！')
                        } else {
                            alert('保存失败！' + e.responseJSON.context)
                            alert('保存失败！' + e.responseJSON.context)
                        }
                    }
                })
            }
        }

        function update_access_key(disable) {
            if (confirm("变更 AccessKey 将影响 API 访问，是否继续？")) {
                var post_data = {'disable': false}
                if (!disable) {
                    post_data = {'disable': true}
                }
                jQuery.ajax({
                    type: 'post',
                    url: '/api/settings/update_accesskey/',
                    data: JSON.stringify(post_data),
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function(p) {
                        if (p.flag == "Success") {
                            alert("变更成功!")
                            top.location = '/settings/'
                        } 
                    },
                    error: function (e) {
                        if (e.status == 403) {
                            alert('权限不足！')
                            top.location = '/settings/'
                        } else {
                            alert('请求失败！' + e.responseJSON.detail)
                            alert('请求失败！' + e.responseJSON.detail)
                        }
                    }
                })
            }
        }

        function display_sync_form(sync_type) {
            $('#form_config_sync_master').hide()
            $('#form_config_sync_slave').hide()
            $('#form_config_sync_status').hide()
            if (sync_type == 1) {
                $('#form_config_sync_master').show()
                $('#form_config_sync_status').show()
            } else if (sync_type == 2) {
                $('#form_config_sync_slave').show()
                $('#form_config_sync_status').show()
            }
        }

        function config_backup(type) {
            if (type == 1) {
                if (confirm("此操作会将负载均衡器<全局配置>/<负载均衡配置>/<系统配置>备份为文件以供还原，其中管理员密码不会被备份，是否继续？")) {
                    jQuery.ajax({
                        type: 'get',
                        url: '/api/settings/config/',
                        dataType: 'json',
                        success: function (p) {
                            if (p.flag == "Success") {
                                var blob = new Blob([JSON.stringify(p.context)], {
                                    type: "text/plain;charset=utf-8"
                                });
                                saveAs(blob, "LazyBalancer.bak");
                                alert("备份成功！")
                                top.location = '/settings/'
                            }
                        },
                        error: function (e) {
                            if (e.status == 403) {
                                alert('权限不足！')
                                top.location = '/settings/'
                            } else {
                                alert('请求失败！' + e.responseJSON.detail)
                            }
                        }
                    })
                }
            } else {
                if (confirm("此操作会将负载均衡器所有配置通过您提供的配置文件覆盖，是否继续？")) {
                    $("#btn_import_config").prop('disabled', true)
                    $("#btn_import_config").text('处理中...')
                    var reader = new FileReader()
                    reader.readAsText($('#import_config')[0].files[0])
                    reader.onload = function (e) {
                        $.ajax({
                            type: 'post',
                            url: '/api/settings/config/',
                            data: this.result,
                            contentType: 'application/json;charset=utf-8',
                            dataType: 'json',
                            success: function (p) {
                                $("#btn_import_config").prop('disabled', false)
                                $("#btn_import_config").text('还原')
                                if (p.flag == "Success") {
                                    alert("还原完成！")
                                    top.location = '/settings/'
                                } else {
                                    $('#import_config').val('')
                                    alert('还原失败！错误配置已回滚！')
                                }
                            },
                            error: function (e) {
                                $('#import_config').val('')
                                $("#btn_import_config").prop('disabled', false)
                                $("#btn_import_config").text('还原')
                                if (e.status == 403) {
                                    alert('权限不足！')
                                    top.location = '/settings/'
                                } else {
                                    alert('请求失败！' + e.responseJSON.detail)
                                }
                            }
                        })
                    }
                } else {
                    $('#import_config').val('')
                }
            }
        }
        function save_settings() {
            var post_data = $('#form_other_settings').serializeObject()
            if ("public_metric" in post_data) {
                alert("开放指标接口有可能导致潜在的隐私泄露或安全风险，请谨慎操作！")
            }
            if (confirm("确认保存这样的配置？")) {
                jQuery.ajax({
                    type: 'post',
                    url: '/settings/save_other_settings/',
                    data: JSON.stringify(post_data),
                    dataType: 'json',
                    success: function (p) {
                        if (p.flag == "Success") {
                            alert("保存成功！")
                            top.location = '/settings/'
                        }
                    },
                    error: function (e) {
                        if (e.status == 403) {
                            alert('权限不足！')
                            top.location = '/settings/'
                        } else if (e.status == 400 && e.responseJSON.flag == "Error" && e.responseJSON.context == "InputFormatError") {
                            alert('保存失败！请检查输入格式！')
                        } else {
                            alert('保存失败！' + e.responseJSON.context)
                        }
                    }
                })
            }
        }

        {% if settings.access_key %}
        $('#input_access_key').val("{{ settings.access_key }}")
        $('#btn_disable_access_key').attr("disabled", false);
        {% else %}
        $('#btn_disable_access_key').attr("disabled", true);
        {% endif %}
        {% if settings.config_sync_type == 1 %}
        $('#radio_sync_master').click() 
        {% elif settings.config_sync_type == 2 %}
        $('#input_config_sync_master_api').val("{{ settings.config_sync_master_url }}")
        $('#input_config_sync_access_key_slave').val("{{ settings.config_sync_access_key }}")
        $('#input_config_sync_interval_slave').val("{{ settings.config_sync_interval }}")
        {% if settings.config_sync_scope == 1 %}
        $('#check_sync_scope').prop("checked",true);
        {% endif %}
        {% if settings.config_sync_faild %}
        $('#check_sync_faild').prop("checked",true);
        {% endif %}
        $('#radio_sync_slave').click() 
        {% else %}
        $('#radio_sync_disable').click() 
        {% endif %}
        {% if settings.num_per_page %}
        $('#input_num_per_page').val("{{ settings.num_per_page }}")
        {% endif %}
        {% if settings.public_metric %}
        $('#check_public_metric').prop("checked",true);
        {% endif %}

    </script>
    {% endblock %}
